@page "/Incentivos/Details"
@page "/Incentivos/Details/{IncentivoId:int}"
@inject IncentivosTecnicoServices IncentivosTecnicoServices
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Detalles del Incentivo</PageTitle>

@if (incentivo != null)
{
    <div class="container">
        <div class="card shadow-header">
            <div class="card-header bg-primary text-white text-center py-2 rounded">
                <h3 class="text-center"><strong>Detalles del Incentivo</strong></h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-unstyled">
                                <li><strong>IncentivoId:</strong> @incentivo.IncentivoId</li>
                                <li><strong>Fecha:</strong> @incentivo.Fecha</li>
                                <li><strong>TecnicoId:</strong> @incentivo.TecnicoId</li>
                                <li><strong>Descripción:</strong> @incentivo.Descripcion</li>
                                <li><strong>Cantidad Servicio:</strong> @incentivo.CantidadServicios</li>
                                <li><strong>Monto:</strong> @incentivo.Monto</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Incentivo no encontrado.</p>
}

@code {
    [Parameter]
    public int IncentivoId { get; set; }
    public IncentivosTecnicos? incentivo { get; set; } = new IncentivosTecnicos();

    protected override async Task OnInitializedAsync()
    {
        incentivo = await IncentivosTecnicoServices.Buscar(IncentivoId);
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Incentivos/index");
    }
}
